{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block main %}
    <div class="container my-24 mx-auto md:px-6">
        <section class="mb-32">
            <h2 class="mb-16 text-center text-2xl font-bold">Une erreur est survenue..</h2>
        </section>
    </div>
{% endblock %}
