<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			<!-- Font Awesome -->
			<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
			<!-- Google Fonts -->
			<link
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
			<!-- MDB -->
			<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet"/>
			{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer"/> #}


		{% endblock %}

		{% block javascripts %}
		 <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>

			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		{% endblock %}
	</head>

	<body>
		<!-- Navbar -->
		<nav
			class="navbar navbar-expand-lg navbar-light bg-body-tertiary py-4">
			<!-- Container wrapper -->
			<div
				class="container">
				<!-- Navbar brand -->
				<a class="navbar-brand me-2" href="/">
					<img src="{{asset("img/cook.png")}}" height="40" alt="MDB Logo" loading="lazy" style="margin-top: -1px;"/>
				</a>

				<!-- Toggle button -->
				<button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>

				<!-- Collapsible wrapper -->
				<div
					class="collapse navbar-collapse" id="navbarButtonsExample">
					<!-- Left links -->
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="/">La cuisine de Thibault</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/">Listing</a>
						</li>
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="/recipe/new">Add Recipe</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/recipe/user">My Recipes</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/user/favorites">My Favourites</a>
							</li>
						{% endif %}
					</ul>
					<!-- Left links -->
					{% if app.user %}
						<a href="/logout">
							<button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
								Logout
							</button>
						</a>
					{% else %}
						<div class="d-flex align-items-center">
							<a href="/login">
								<button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
									Login
								</button>
							</a>
							<a href="/register">
								<button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
									Sign up for free
								</button>
							</a>
						</div>
					</div>
				{% endif %}
				<!-- Collapsible wrapper -->
			</div>
			<!-- Container wrapper -->
		</nav>
		<!-- Navbar -->
		<header
			class="bg-secondary">
			{# <div class="d-flex" style="height: 50px"></div> #}
			<div class="col-xl-12 text-center mx-auto bg-light">
				<img class="img-fluid" src="{{asset("img/cook.png")}}" alt="" style="height:30dvh!important">
			</div>
		</header>
		<main>
			{% block main %}
				{% block body %}{% endblock %}

			{% endblock %}
		</main>

		{# <footer class="bg-dark">
																										<p class="lead">Test</p>
																									</footer> #}
	</body>
</html>
